<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>proj.kw.test.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<display-name>LoginCheck</display-name>
  	<description></description>
  	<servlet-class>proj.kw.test.LoginCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WelcomePage</servlet-name>
  	<display-name>WelcomePage</display-name>
  	<description></description>
  	<servlet-class>proj.kw.test.WelcomePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>proj.kw.test.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomePage</servlet-name>
  	<url-pattern>/WelcomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
